@import "tailwindcss";

@theme {
    /* Convention: Always set color in rgba(r, g, b, a) format */
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-gray: rgba(181, 183, 183, 1);
    --color-yellow: rgba(250, 222, 75, 1);
}
